pip>=25.1
setuptools>=75.0.0
wheel>=0.41.0

Flask==2.3.3
gunicorn==21.2.0
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
pandas==2.2.2
geopandas==0.14.4
shapely==2.0.4
folium==0.16.0
branca==0.7.2
numpy==1.26.4
scipy==1.13.1