# Core packaging tools
pip>=24.0
setuptools>=68.0.0
wheel>=0.41.0

# Database
psycopg2-binary==2.9.9

# Web framework
Flask==2.2.5
gunicorn==21.2.0
sqlalchemy==2.0.31

# Data & geo libraries
numpy==1.23.5
pandas==2.0.3
geopandas==0.14.3
shapely==2.0.4
pyproj==3.6.1
fiona==1.9.6

# Mapping
folium==0.15.1
branca==0.7.1